*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
h1 , h2 , h3 , h4 , h5 , h6 , p {
    margin:0;
    padding:0;
}
/* header style start */
#header{
    height:700px;
    background-image:linear-gradient(rgba(31,44,108,0.65),rgba(31,44,108,0.65))
    ,url(../images/sanjana.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:250px 0px; 
}

.header-icon ul{
    display: flex;
}
.header-icon ul li a {
    color:#f8f9fa;
    padding-right: 20px;
}
.header-main{
    position:relative;
    left: -56px;
    top: -125px;
    z-index: 1;
  
} 

.header-text ul li a{
    display: flex!important;
    color: #f8f9fa !important;
    font-size: 24px;
    text-align: left;
}
 .btndanger a{
    padding:16px 28px;
    color:#fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btndanger{
    background: linear-gradient( to right,rgba(255, 0, 0, 0.2) 0%,rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.6)75%, rgba(255, 0, 0, 0.8) 100%);
    background-size: 200%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btndanger:hover {
    background-position: -100%;
}

.header-contant h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color:#f8f9fa;
    padding:0px 0px 10px 0px;

}
.header-contant h4{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color:#f8f9fa;
    line-height: 20px;
}
.header-contant h6{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color:#f8f9fa;
    position: relative;
    overflow: hidden;
    z-index: 1;    
    }
    .header-contant h6::before{
    content:'';
    position:absolute;
    left:120%;
    width:120%;
    height:100%;
    background:linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);
    
    animation: 5s linear forwards;
    -webkit-animation: 5s linear forwards;
}
@keyframes animate{
    0%{
     left:110%;
    }
    100%{
        left:-20%;
       }
}
/* header style end */
/* navbar style start */
.nav-item{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#212529;
    line-height: 18px;
    padding:0px 10px;
    position: relative;
}
.navbar{
   
        height: 50px;
        box-shadow: 0 1px 10px rgba(54,54,54,.18);
      }
.nav-item :hover{
    color:red;
}

.navbar-star{
   position:relative;
   width:150px;
   height:150px;
   background: rgba(108, 41, 41, 0.5);
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   overflow: hidden;
}
.navbar-star::before{
    content:'';
    position: absolute;
    inset: -10px 60px;
    background: linear-gradient(315deg,#000,#FF0000);
    left:60px;
    top:0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    animation:animate 4s linear infinite;
    -webkit-animation:animate 4s linear infinite;
}
.navbar-star:hover::before{
    inset: -15px 0px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
.navbar-star::after{
    content:'';
    position: absolute;
    inset: 9.5px;
    background-image:url(../images/mee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset:10px;
    border:6px solid#000;
    z-index: 3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.content img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    pointer-events: none;
}
.navbar-star:hover .content img{
   opacity: 0;
}

/* navbar style end */
/* about style start */
#about{
    padding:100px 0px;
    background: #fff;
    padding-top: 200px;
}
.about-main:hover .line{
    width:140px;
    background-color:#f85c70;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
.about-left span{
    
        display: block;
        width: 40px;
        height: 1.5px;
        background-color: #f85c70;
}

.about-card {
    border-right: 1px solid #dee2e6;
}
hr{
    margin:0;
    width:100%;
}
.btnabout{
    padding:16px 35px;
    border:2px solid red;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.btnabout a{
    color:red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btnabout:hover{
   background: red;
}
.btnabout a:hover{
    color:#fff;
}

.personal-info span{
        display: block;
        width: 40px;
        height: 1.5px;
        background-color: #f85c70;
}
.personal-data{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:black;
}
.icons-name{
    padding:20px 0px;
   
}
.social-icons i{
    font-size: 18px;
    color: #f85c70;

}
.font-size i{
    font-size:40px;
}
    
.per-info{
    margin-right: 200px;
}
/* about style end */
/* resume style start */
.line{
    display:block;
    width:25px;
    height:1.5px;
    background-color: #f85c70;
}
.line:hover{
    width:50px;
    background-color: #f85c70;
}
.pull-left:hover .line{
    width:60px;
    background-color:#f85c70;
    transition:.5s;
}
.pull-left-two:hover .line{
    width:110px;
    background-color:#f85c70;
    transition:.5s;
}
.card{
    margin-bottom: 30px;
    font-size: 14px;
    color: #6c757d;
}
.progress{
    height: 0.3rem;
    margin-bottom:30px;
}
.education:hover .line{
    width:140px;
    background-color:#f85c70;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
#resume .card-body .html{
    width:85%;
    animation:html 3s;
    -webkit-animation:html 3s;
}
@keyframes html {
    0%{
        width:0%;
    }
    100%{
        width: 85%;
    }

}
/* resume style end */
/* black-board style start */
#black-board{
    padding: 300px 0px;
    width:100%;
    
}
.xl-icon{
    font-size: 65px;
}
.border-right {
    border-right: 1px solid #dee2e6;
}
.font-weight-bold{
    font-weight: 700 !important;
}
.icon-one:hover{
    transform:scale(1.2);
}
/* blackboard style end */
/* services style start */
#services{
    padding:80px 0px;
}
.card-header{
    border:none;
    background: 0 0;
}
.subtitle p{
        opacity: .8;
        color: #444;
}
.icon i{
    color: #f85c70 !important;
    position: absolute;
    top: -34px;
    border: 7px solid #fff;
    overflow: hidden !important;
    font-size: 35px;
    background-color: #fff;
    transition: 0.5s;

}
.icon i:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}

/* services style end */
/* freelance style start */
 #freelance{
    padding:48px 0px;
    background-color: #343a40;
 }
 .btninfo a{
    position:relative;
    background:#f85c70;
    color:black;
    padding:6px 45px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btninfo a:hover{
    background: rgba(255, 0, 0, 0.8);;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.8);
}
.font-weight-normal{
    font-weight: 400!important;
}
/* freelance style end */
/* portfolio style start */
#portfolio{
    padding:100px 0px;
}
.btn-port a{
    padding:0px 31px;
    background-color:#f85c70;
    color:#000;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height:34.09px;
    color:#000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btn-port a:hover{
    background: rgba(255, 0, 0, 0.8);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.8);
}
.port-head h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 38.67px;
    color:#000;
    padding-bottom: 42px;
    padding-top: 16px;

}
.nav-link-bottom {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 28.94px;
    color:#000;
    margin-bottom: 100px;
    position: relative;
}
.nav-link-bottom::after{
    content:"";
    height:2px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    background-color:#f85c70;
    opacity: 0;
}  
.nav-link-bottom :hover::after {
    transition: 0.5s;
    opacity:1
} 
.tab-content{
    margin-top: 100px;;
}
.overlay-demo{
    position:relative;

}
.overlay-demo .overlay{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:0%;
    overflow:hidden;
    background-color:rgba(255, 0, 0, 0.8);
    transition:0.7s;
    opacity:0.4;
    -webkit-transition:0.9s;
    -moz-transition:0.7s;
    -ms-transition:0.7s;
    -o-transition:0.7s;
}
.overlay-demo:hover .overlay{
    height:100%;
    width:100%;
    cursor:pointer;
}

/* portfolio style end */
/* blog style start */
#blog{
    padding:20px 0px;
}
.card-title{
    color:#212529;
    font-weight: 800px;
}
.start a{ 
    color:#000;
}
/* blog style end */
/* footer style start */
#footer{
    padding:40px 0px ;
}
.location{
    width:100%;
}
 .map{
    position:relative 
 }
.massage-me{
    position:absolute ;
    bottom:70px;
    left:40px;
    background-color: #fff;
    padding:40px ;
}
.contact-main{
    position:absolute;
    bottom:72px;
    right:100px;
    background-color: #fff;
    padding:40px;
    width:500px;
}
.btn-danger{
    background: linear-gradient( to right,rgba(255, 0, 0, 0.2) 0%,rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.6)75%, rgba(255, 0, 0, 0.8) 100%);
    background-size: 200%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-left: 200px;
}
.btn-danger{
    background-position: -100%;
}
.massage-me:hover .line{
    width:170px;
    background-color:#f85c70;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
/* .contact-main{
    width:200px;
} */
.contact-main:hover .line{
    width:160px;
    background-color:#f85c70;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
/* footer style end */
.topone{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: #FF0000;
    line-height: 50px;
    position: fixed;
    right:0px;
    bottom:0px;
    display:none;
    cursor:pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.upper{
    font-size: 35px;
    color:#fff;
    padding-left: 7px;
}